<!DOCTYPE html>
<html manifest="offlinexmb.cache">
<html>
<head>
 <title>NIGHT KING v4.2 - 6.72 FW</title>
 <meta charset="UTF-8" />
 <link rel="stylesheet" href="css/icon.css">
 <link rel="stylesheet" href="css/materialize.css">
 <link rel="stylesheet" href="css/main.css">
 <script>
  window.applicationCache.ondownloading=function(){document.getElementById("msgs").innerHTML="Page Caching Started!!"};
  window.applicationCache.onprogress=function(a){document.getElementById("msgs").innerHTML="Caching Status: "+(Math.round(100*(a.loaded/a.total)))+"% Completed"};
  window.applicationCache.oncached=function(){document.getElementById("msgs").innerHTML="Page Cached Successfully!!";setTimeout(function(){document.getElementById("msgs").innerHTML="Turn Off the Internet & Reopen the Browser!!"; }, 1500);};
  window.applicationCache.onnoupdate=function(){setTimeout(function(){load_JB(); }, 1500);};
  window.applicationCache.onerror=function(){setTimeout(function(){load_JB(); }, 1500);};
</script>
</head>
<body id="body"  >
<script src="p/functions.js"></script>
<script>function print(){}</script>
<script src="p/webkit.js"></script>
<script src="p/jb.js"></script>
 <div id="app" ><!-- app start -->
 
 <canvas v-show="isAnimate1Show" id=c></canvas>
 
 <nav class="transparent" ><!-- navbar start -->
  <div class="nav-wrapper">
   <a href="javascript:void(0)" class="brand-logo left">NIGHT KING v4.2 - 6.72 FW Auto</a> 
   <ul id="nav-mobile" class="right"><!-- navbar links -->
   
    <li class="waves-effect waves-light" v-if="lang!=='fa'" @click="changeLang('fa')"><a>فارسی</a></li>
    <li class="waves-effect waves-light" v-if="lang!=='eng'" @click="changeLang('eng')"><a>English</a></li>
    <li class="waves-effect waves-light" v-if="lang!=='esp'" @click="changeLang('esp')"></li>
    <li class="waves-effect waves-light" v-if="!isPayloadShow" @click="showMain"><a>{{changeText("صفحه اصلی","Main Page","Página de inicio")}}</a></li>
    <li class="waves-effect waves-light" v-if="!isThemesShow" @click="showTheme"><a>{{changeText("تم ها","Themes","Temas")}}</a></li>
    <li class="waves-effect waves-light" v-if="!isAboutUsShow" @click="showAboutUs"><a>{{changeText("درباره ما","About Us","sobre nosotros")}}</a></li>
	<li class="waves-effect waves-light" v-if="!isDonationShow" @click="showDonation"><a>{{changeText("حمایت از نایت کینگ","Donation","donación")}}</a></li>
   </ul>
  </div>
 </nav><!-- navbar end -->
  
  <div class="loader" v-if="isLoaderShow">
  <a  class="button" style="color: green; font-weight: bold;">Pass = <span id=passCounter></span></a>
   <span id="msgs">
    {{changeText("پیلود مورد نظر را انتخاب کنید","Choose A Payload To Continue","")}}
   </span>   
   <a  class="button2" style="color: red; font-weight: bold;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Fail = <span id=failCounter></span> </a>  
   <span id="temp" >
    <input type="range" id="tempC" min="40" @change="temp=tempC.value" value="60" step="1" max="79" />
    <span class="tempVal" >{{temp+"&#176;C"}}</span>
    <button @click="setTemp()">{{changeText("تنظیم","Set","Conjunto")}}</button>
   </span>
   <span id="date" ></span>
   <span id="clock" ></span>
  </div>
  
  <div class="payloads" v-show="isPayloadShow"><!-- payloads list start -->
   <div v-for="payload,key in payloads" @click="loadPlayload(key)" @mouseover="hover(key)" @mouseleave="hover()" class="tile">
    <img :src="'img/'+payload.icon" >
    <p class="white-text" >{{payload.name}}</p>
   </div>   
  </div><!-- payloads list end -->
  <div class="detail" v-show="isDetailShow" :style="lang=='eng' ? 'direction:ltr;text-align:left;float:left;' : 'direction:rtl;text-align:right;float:right;' " ><!-- tozihat-->
   <span id="detail" ></span>
  </div>
  
  <div class="theme" v-show="isThemesShow"><!-- themes start -->
    
    <div class="card" v-for="theme,key in themes" @click="changeTheme(key)">
     <div class="card-image">
      <img :src="'img/'+theme.url">
     </div>
     <div class="card-action waves-effect waves-light" style="width:100%" >
      <div class="center" :class="{ 'green-text': theme.selected, 'white-text': !theme.selected}">{{theme.selected ? changeText("انتخاب شده","Selected","Selectionne") : changeText("انتخاب","Select","Seleccione") }}</div>
     </div>
    </div>

  </div><!-- themes end -->
  
  <div class="Donation"  v-show="isDonationShow" :dir="changeText('rtl','ltr','ltr')" ><!-- Donation start -->
    <h4><b>{{changeText("حمایت از نایت کینگ","Donation","Donation")}}</b></h4>
    <p>{{changeText("جهت حمایت از نایت کینگ می توانید از طریق لینک زیر اقدام نمایید","To support us, follow the link below","Para apoyarnos, siga el enlace a continuacion")}} :</p>
      <p style="color:red;"> 💳 <a href="https://idpay.ir/night-king" target="_blank"> ID-Pay (Iran) Night-King </a> 💳 </p>
	  <p style="color:red;"> 💳 <a href="http://paypal.me/Karosharifi" target="_blank"> Paypal Night-King </a> 💳 </p>
   </div><!-- Donation end -->

  
   <div class="aboutUs"  v-show="isAboutUsShow" :dir="changeText('rtl','ltr')" ><!-- about us start -->
    <h4><b>{{changeText("درباره ما","About Us","")}}</b></h4>
    <p>{{changeText("نایت کینگ نسخه 4.2 - نسخه خصوصی برای فریمور 6.72","NIGHT KING v4.2 - Private Version For 6.72 FW","")}}</p>
    <p>{{changeText("ما هیچ گروه یا کانال عمومی در تلگرام نداریم !!","We Don't Have Any Public Telegram Group Or Channel !!","")}}</p>
    <p>{{changeText("✔تشکر فوق العاده ویژه از : کارو شریفی - الازیف -  لیفول - سیسترو","✔Super Special Thanks To : Karo Sharifi - Alazif - Leeful  - SiSTRo","")}}</p>
    <p>{{changeText("✔مالک اصلی : SALT - با ما از طریق تلگرام در ارتباط باشید 📞 Salt753194@ 📞","✔Main Owner : SALT - Find Us In Telegram 📞 @Salt753194 📞 ","")}}</p>
    <p>{{changeText("✔طراح ارشد : امیرحسین کیان فرد","✔Senior Designer : Amirhossein Kianfard","")}},</p>
    <p>{{changeText("آخرین به روزرسانی در مهر 1399","Last Update At October 2020","")}}</p>
   </div><!-- about us end -->
   
   
  </div><!-- app end -->
  
  
  <!-- js section  -->
 <script src="js/materialize.js"></script>
 <script type="text/javascript">
  if (localStorage.passcount == null) localStorage.passcount=0;
window.passCounter.innerHTML=localStorage.passcount;
if (localStorage.failcount == null) localStorage.failcount=0;
window.failCounter.innerHTML=localStorage.failcount;
 if(localStorage.getItem("theme")==null){
  localStorage.setItem("theme",0)
 }
 if(localStorage.getItem("lang")==null){
  localStorage.setItem("lang","eng")
 }
 </script>
 <script src="js/vue.js"></script>
 <script type="text/javascript">
  var app = new Vue({
   el: '#app',
   data: {
    isLoaderShow:true,
    isPayloadShow:true,
    isThemesShow:false,
	isDonationShow:false,
    isAboutUsShow:false,
    isDetailShow:false,
    isAnimate1Show:false,
    lang:localStorage.getItem("lang"),
    selectedTheme:localStorage.getItem("theme"),
    payloads:[
     {name:"HEN 2.1.3",icon:"hen.png",esp_detail:"test Spanish",eng_detail:"Hen v2.1.3 by SiSTRo : Debug settings - Remote PKG installer - UART Enabler - VR Support - Rest Mode Support - FW Version Spoof to 9.99 - Debug Trophies Support - Remote Play Enabler.",fa_detail:"Hen 2.1.3 به همراه اضافه شدن قابلیت فعالسازی همزمان Remote Play"},
	 {name:"HEN 2.1.3b",icon:"hen.png",esp_detail:"test Spanish",eng_detail:"Hen v2.1.3b : Hen 2.1.3 + FW Version Spoof to 7.51,Rest Mode Support,Fix error debug setting.",fa_detail:"آپدیت هن 2.1.3 :اسپوف فریمور به 7.51  "},
	 {name:"Mira",icon:"hen.png",esp_detail:"test Spanish",eng_detail:"By Mira you can Set of features like in a single payload . like homebrew enabler and ....",fa_detail:"بارگزاری میرا  : فعالسازی قابلیت امکان اجرای نرم افزارها و بازیهای fpkg"},
	 {name:"Mira.Unofficial",icon:"hen.png",esp_detail:"test Spanish",eng_detail:"By Mira you can Set of features like in a single payload . like homebrew enabler and ....",fa_detail:"بارگزاری میرا نسخه غیر رسمی: فعالسازی قابلیت امکان اجرای نرم افزارها و بازیهای fpkg"},
     {name:"Mira+HEN",icon:"hen.png",esp_detail:"test Spanish",eng_detail:"Mira + Hen",fa_detail:"  قابلیت فعالسازی همزمان Mira و Hen "},
     {name:"Bin.Loader",icon:"binloader.png",esp_detail:"test Spanish",eng_detail:"Loads a bin file sent to the PS4 IP address on port 9021.",fa_detail:"لودر فایل Bin از طریق پورت 9021"},
     {name:"FTP",icon:"ftp.png",esp_detail:"test Spanish",eng_detail:"A full access FTP server for the PS4 Connect your FTP client to the IP address that the popup message tells you. The FTP port number is 1337.",fa_detail:"ایجاد بستر ارتباطی لازم جهت اتصال کامپیوتر و کنسول ps4 شما توسط ftp بمنظور مدیریت فایلها"},
     {name:"Dumper",icon:"dumper.png",esp_detail:"test Spanish",eng_detail:"Dump your games or apps to a USB drive to be able to create fpkg files.",fa_detail:"توسط این پی لود امکان تهیه دامپ یا بکاپ از دیسک بازی و یا عناوین دیجیتالی در کنسول فراهم می گردد"},
     {name:"Avatar.D.Inject",icon:"avatar.png",esp_detail:"test Spanish",eng_detail:"Avatar Dumper Injector v2",fa_detail:" از طریق این پی لود میتوان آواتار دلخواه خود را به کنسول انتقال داد."},
     {name:"App.To.USB",icon:"app2usb.png",esp_detail:"test Spanish",eng_detail:"Move installed games to an external USB drive. Put AppToUsb.ini in folder named PS4 on root of your USB drive.",fa_detail:"انتقال بازی های نصب شده از کنسول به حافظه خارجی با فرمت exfat"},
     {name:"Kernel.Dumper",icon:"kdumper.png",esp_detail:"test Spanish",eng_detail:"Dump a copy of your kernel to your USB drive. Your kernel will be dumped to: KernelDump.bin on your USB drive.",fa_detail:"تهیه ی نسخه ی کپی از کرنل کنسول شما در حافظه ی جانبی با فرمت xfat یا fat32 بصورت فایلی با نام KernelDump.bin"},
     {name:"History.Blocker",icon:"history.png",esp_detail:"test Spanish",eng_detail:"Disable the auto opening of the last page used in the PS4 WebBrowser. Run the payload again to disable this feature.",fa_detail:"غیر فعالسازی بازکردن خودکار آخرین صفحه ای که در مرورگر PS4 شما استفاده شده است ، برای بازگشت به حالت نرمال مجددا این پیلود را ارسال کنید!"},
     {name:"Disable.Update",icon:"disableupdate.png",esp_detail:"test Spanish",eng_detail:"Creates dummy files in the PS4 update folder to prevent the download of unwanted system updates. It also deletes any existing updates if they already exist. You only ever have to run this once !",fa_detail:"غیرفعال سازی آپدیت فریمور کنسول"},
     {name:"Enable.Update",icon:"enableupdate.png",esp_detail:"test Spanish",eng_detail:"Removes the dummy files in the PS4 update folder to enable the download of updates again. Run this if you have previously disabled updates and wish to update your console.",fa_detail:"فعالسازی مجدد آپدیت فریمور کنسول"},
     {name:"DB.Backup",icon:"backup.png",esp_detail:"test Spanish",eng_detail:"Create a backup of important database files. A backup of your app databases will be created and saved internally on your PS4 HDD and also to USB if a USB drive is inserted.",fa_detail:"پشتیبان گیری از دیتابیس (کلیه بازی های نصب شده) به حافظه USB"},
     {name:"DB.Restore",icon:"restore.png",esp_detail:"test Spanish",eng_detail:"Restore a backup of the database files created by 'DB.Backup'",fa_detail:"بازگرداندن بکاپ تهیه شده از حافظه USB"},
     {name:"RemotePlay",icon:"remote.png",esp_detail:"test Spanish",eng_detail:"PS4 Remote Play Enabler. Use this to allow you to register a device for remote play.",fa_detail:"فعالسازی قابلیت Remote Play بمنظور دریافت تصویر کنسول در کامپیوتر ، دستگاه اندرویدی و ..."},
     {name:"ToDex",icon:"todex.png",esp_detail:"test Spanish",eng_detail:"unlocks some debug features available on testkit like : Delete Patch - Delete Addcont Extra Data - Delete Temp Data - Delete Download Data - Delete Users' Save Data - Delete All Users' Save Data. not permanent, so you have to apply both mira and this payload to have it working.",fa_detail:"فعالسازی منوی دیباگ کنسول TestKit در قسمت Option هومبرو و بازیها"},
	 {name:"ToDev",icon:"todex.png",esp_detail:"test Spanish",eng_detail:" that converts Target ID to 0x81 which is DevKit.",fa_detail:" اضافه شدن گزینه های کنسول devkit به کنسول retail شما"},
	 {name:"ToKratos",icon:"todex.png",esp_detail:"test Spanish",eng_detail:"converts Target ID to 0xA0 which is Arcade or Kratos model.",fa_detail:"اضافه شدن گزینه های کنسول Arcade or Kratos model به کنسول retail شما."},
     {name:"ps4debug",icon:"ps4debug.png",esp_detail:"test Spanish",eng_detail:"Save Data Mounter",fa_detail:"فعالسازی قابلیت کپی نمودن سیو بازیها در حافظه ی فلش یا هارد درایو با فرمت fat32 یا exfat"},
     {name:"Webrte",icon:"rte.png",esp_detail:"test Spanish",eng_detail:"A large collection of trainers for your PS4 games from Ps4trainer.com - Run this payload then start the game you wish to train.",fa_detail:"پیش نیاز جهت استفاده از ترینر بازیها ، مربوط به سایت Ps4trainer.com"},
     {name:"FakeUSB",icon:"fakeusb.png",esp_detail:"test Spanish",eng_detail:"To install .pkg files without a large enough USB drive, copy .pkg files to /user/home/fakeusb/ via FTP,then connect any USB drive and select FAKEUSB (with HEN already activated). Then go to debug settings and install the packages as uaual.",fa_detail:"نصب بازی از منوی debug settings با قابلیت کپی کردن فایلهای pkg به حافظه ی داخلی کنسول از طریق ftp سپس اتصال یک فلش مموری خالی و ارسال پیلود"},
     {name:"EAP.Key.Dumper",icon:"keydumper.png",esp_detail:"test Spanish",eng_detail:"Dump your EAP KEY to a USB drive. This is your PS4 HDD encryption key, you can use it to mount your PS4 HDD on your PC [ linux operating system ] and decrypt it.",fa_detail:"دامپ یا بکاپ از کلید EAP هارد کنسول شما در حافظه ی جانبی بصورت فایلی بنام eap_key.bin بمنظور رمزگشایی و دسترسی به هارد کنسول بروی سیستم عامل لینوکس در PC"},
     {name:"Fan.Control",icon:"fan.png",esp_detail:"test Spanish",eng_detail:"Set the desired temperature that the PS4 fan starts. The value you set will remain until the power is removed from the PS4. The default PS4 setting is 79&#176;C",fa_detail:"تنظیم دمای دلخواه جهت چرخش بیشتر دور فن، که تا زمانی که برق کنسول قطع نشود فعال است. "},
     {name:"Linux.USB.Load",icon:"linux.png",esp_detail:"test Spanish",eng_detail:"A Linux Loader to run a Linux installation from USB. This will load Linux with 2GB Video Ram and 6GB System Ram.",fa_detail:"لودر مخصوص اجرای لینوکس از طریق درگاه USB با مقدار حافظه ی پیش فرض 2 گیگابایت جهت گرافیک"},
	 {name:"Linux.Baikal",icon:"linux.png",esp_detail:"test Spanish",eng_detail:"Linux for baikal version",fa_detail:"لودر مخصوص لینوکس با پشتیبانی از چیپ Baikal."},
	 {name:"Linux.Internal",icon:"linux.png",esp_detail:"test Spanish",eng_detail:"Boot Linux from internal HDD",fa_detail:"لودر مخصوص اجرای لینوکس از طریق  HDD داخلی."},
	 {name:"Rif.Renamer",icon:"ps4debug.png",esp_detail:"test Spanish",eng_detail:"Rif Renamer v1 By AIAzif .Changes the installed games Licence type from FAKE to FREE Use this to fix games that will not work with regular HEN f you originally installed games using MiraHen you might have this problem",fa_detail:"تغییر لایسنس بازیهای نصب شده از Fake به Free. فیکس کردن بازیهایی که با Hen کار نمیکنند. اگر با MiraHen بازی نصب کرده باشی این مشکل ایجاد میشه."},
	 	 {name:"GTAV.ArabicGuy.1.00",icon:"gtav.png",esp_detail:"test Spanish",eng_detail:"GTAV MODS for version 1.00",fa_detail:"مود یرای بازی gtav نسخه 1.00"},
	 	 {name:"GTAV.ArabicGuy.1.27",icon:"gtav.png",esp_detail:"test Spanish",eng_detail:"GTAV MODS for version 1.27",fa_detail:"مود یرای بازی gtav نسخه 1.27"},	 	 
	 	 {name:"GTAV.ArabicGuy.1.32",icon:"gtav.png",esp_detail:"test Spanish",eng_detail:"GTAV MODS for version 1.32",fa_detail:"مود یرای بازی gtav نسخه 1.32"},	 	 
    ],
    themes:[
     {url:"img0.jpg",animated:false,selected:false},
     {url:"img3.jpg",animated:false,selected:false},
     {url:"img15.jpg",animated:false,selected:false},
	 {url:"img19.jpg",animated:false,selected:false},
    ],
    temp:tempC.value
   },
   methods:{
    loadPlayload: function(key){
     if(key==0){//load HEN 2.1.3
      msgs.innerHTML="<div>Loading HEN 2.1.3 ...</div>";
	  LoadedMSG="HEN 2.1.3 Loaded ✔";
	  var script = document.createElement('script');script.src = "p/hen213.js";document.getElementsByTagName('head')[0].appendChild(script);
      var script = document.createElement('script');script.src = "p/exp_loader.js";document.getElementsByTagName('head')[0].appendChild(script);
     }
      if(key==1){//load HEN 2.1.3b
      msgs.innerHTML="<div>Loading HEN 2.1.3b ...</div>";
	  LoadedMSG="HEN 2.1.3b Loaded ✔";
	  var script = document.createElement('script');script.src = "p/hen213b.js";document.getElementsByTagName('head')[0].appendChild(script);
      var script = document.createElement('script');script.src = "p/exp_loader.js";document.getElementsByTagName('head')[0].appendChild(script);
     }
     if(key==2){//load mira 
      msgs.innerHTML="<div>Loading Mira ...</div>";
	  LoadedMSG="Mira Loaded ✔";
	  var script = document.createElement('script');script.src = "p/pl_mira.js";document.getElementsByTagName('head')[0].appendChild(script);
      var script = document.createElement('script');script.src = "p/exp_loader.js";document.getElementsByTagName('head')[0].appendChild(script);
     }
	 if(key==3){//load mira Unofficial
      msgs.innerHTML="<div>Loading Mira Unofficial ...</div>";
	  LoadedMSG="Mira Unofficial Loaded ✔";
	  var script = document.createElement('script');script.src = "p/pl_mira_unofficial.js";document.getElementsByTagName('head')[0].appendChild(script);
      var script = document.createElement('script');script.src = "p/exp_loader.js";document.getElementsByTagName('head')[0].appendChild(script);
     }
     if(key==4){//load mira+hen
      msgs.innerHTML="<div>Loading Mira+Hen ...</div>";
	  LoadedMSG="MiraHen Loaded ✔";
	  var script = document.createElement('script');script.src = "p/pl_mirahen.js";document.getElementsByTagName('head')[0].appendChild(script);
      var script = document.createElement('script');script.src = "p/exp_loader.js";document.getElementsByTagName('head')[0].appendChild(script);
     }
     if(key==5){//load binloader
      msgs.innerHTML="<div>Loading Bin Loader ...</div>";
      LoadedMSG="<div>Done.Send Payload To Port 9021";
      var script = document.createElement('script');script.src = "p/exp_loader.js";document.getElementsByTagName('head')[0].appendChild(script);
     }
     if(key==6){//load ftp
      msgs.innerHTML="<div>Loading FTP ...</div>";
      LoadedMSG="<div>FTP Loaded ✔</div>";
      var script = document.createElement('script');script.src = "p/pl_ftp.js";document.getElementsByTagName('head')[0].appendChild(script);
      var script = document.createElement('script');script.src = "p/exp_loader.js";document.getElementsByTagName('head')[0].appendChild(script);
     }
     if(key==7){//load dumper
      msgs.innerHTML="<div>Loading Dumper ...</div>";
      LoadedMSG="<div>Dumper Loaded ✔</div>";
      var script = document.createElement('script');script.src = "p/pl_dumper.js";document.getElementsByTagName('head')[0].appendChild(script);
      var script = document.createElement('script');script.src = "p/exp_loader.js";document.getElementsByTagName('head')[0].appendChild(script);
     }
	 if(key==8){//load Avatar Dumper
      msgs.innerHTML="<div>Loading AvatarDumper ...</div>";
      LoadedMSG="<div>Avatar Dumper Injector Loaded ✔</div>";
      var script = document.createElement('script');script.src = "p/avatar.js";document.getElementsByTagName('head')[0].appendChild(script);
      var script = document.createElement('script');script.src = "p/exp_loader.js";document.getElementsByTagName('head')[0].appendChild(script);
     }
     if(key==9){//load app2usb
      msgs.innerHTML="<div>Loading AppToUSB ...</div>";
      LoadedMSG="<div>AppToUSB Loaded ✔</div>";
      var script = document.createElement('script');script.src = "p/pl_app2usb.js";document.getElementsByTagName('head')[0].appendChild(script);
      var script = document.createElement('script');script.src = "p/exp_loader.js";document.getElementsByTagName('head')[0].appendChild(script);
     }
     if(key==10){//load kerneldump
      msgs.innerHTML="<div>Loading Kernel Dumper ...</div>";
      LoadedMSG="<div>Kernel Dumper Loaded ✔</div>";
      var script = document.createElement('script');script.src = "p/pl_kernelDumper.js";document.getElementsByTagName('head')[0].appendChild(script);
      var script = document.createElement('script');script.src = "p/exp_loader.js";document.getElementsByTagName('head')[0].appendChild(script);
     }
     if(key==11){//load historyblock
      msgs.innerHTML="<div>Loading History Blocker ...</div>";
      LoadedMSG="<div>History Blocker Loaded ✔</div>";
      var script = document.createElement('script');script.src = "p/pl_historyBlocker.js";document.getElementsByTagName('head')[0].appendChild(script);
      var script = document.createElement('script');script.src = "p/exp_loader.js";document.getElementsByTagName('head')[0].appendChild(script);
     }
     if(key==12){//load updatesdisable
      msgs.innerHTML="<div>Loading Disable Updates ...</div>";
      LoadedMSG="<div>Disable Updates Loaded ✔</div>";
      var script = document.createElement('script');script.src = "p/pl_updatesDisable.js";document.getElementsByTagName('head')[0].appendChild(script);
      var script = document.createElement('script');script.src = "p/exp_loader.js";document.getElementsByTagName('head')[0].appendChild(script);
     }
     if(key==13){//load updatesenable
      msgs.innerHTML="<div>Loading Enable Updates ...</div>";
      LoadedMSG="<div>Enable Updates Loaded ✔</div>";
      var script = document.createElement('script');script.src = "p/pl_updatesEnable.js";document.getElementsByTagName('head')[0].appendChild(script);
      var script = document.createElement('script');script.src = "p/exp_loader.js";document.getElementsByTagName('head')[0].appendChild(script);
     }
     if(key==14){//load dbBackup
      msgs.innerHTML="<div>Loading DB Backup ...</div>";
      LoadedMSG="<div>DB Backup Loaded ✔</div>";
      var script = document.createElement('script');script.src = "p/pl_dbBackup.js";document.getElementsByTagName('head')[0].appendChild(script);
      var script = document.createElement('script');script.src = "p/exp_loader.js";document.getElementsByTagName('head')[0].appendChild(script);
     }
     if(key==15){//load dbRestore
      msgs.innerHTML="<div>Loading DB Restore ...</div>";
      LoadedMSG="<div>DB Restore Loaded ✔</div>";
      var script = document.createElement('script');script.src = "p/pl_dbRestore.js";document.getElementsByTagName('head')[0].appendChild(script);
      var script = document.createElement('script');script.src = "p/exp_loader.js";document.getElementsByTagName('head')[0].appendChild(script);
     }
     if(key==16){//load remoteplay
      msgs.innerHTML="<div>Loading Mira+REMOTPLAY ...</div>";
      LoadedMSG="<div>Mira+REMOTPLAY Loaded ✔</div>";
      var script = document.createElement('script');script.src = "p/pl_mira_unofficial.js";document.getElementsByTagName('head')[0].appendChild(script);
      var script = document.createElement('script');script.src = "p/exp_loader.js";document.getElementsByTagName('head')[0].appendChild(script);
     }
     if(key==17){//load todex
      msgs.innerHTML="<div>Loading ToDex ...</div>";
      LoadedMSG="<div>ToDex Loaded ✔</div>";
      var script = document.createElement('script');script.src = "p/pl_todex.js";document.getElementsByTagName('head')[0].appendChild(script);
      var script = document.createElement('script');script.src = "p/exp_loader.js";document.getElementsByTagName('head')[0].appendChild(script);
     }
	  if(key==18){//load todev
      msgs.innerHTML="<div>Loading ToDev ...</div>";
      LoadedMSG="<div>ToDev Loaded ✔</div>";
      var script = document.createElement('script');script.src = "p/pl_ToDEV.js";document.getElementsByTagName('head')[0].appendChild(script);
      var script = document.createElement('script');script.src = "p/exp_loader.js";document.getElementsByTagName('head')[0].appendChild(script);
     }
	  if(key==19){//load tokratos
      msgs.innerHTML="<div>Loading ToKratos ...</div>";
      LoadedMSG="<div>ToKratos Loaded ✔</div>";
      var script = document.createElement('script');script.src = "p/pl_ToKratos.js";document.getElementsByTagName('head')[0].appendChild(script);
      var script = document.createElement('script');script.src = "p/exp_loader.js";document.getElementsByTagName('head')[0].appendChild(script);
     }
    if(key==20){//load ps4debug
      msgs.innerHTML="<div>Loading ps4debug ...</div>";
     LoadedMSG="<div>PS4Debug Loaded ✔</div>";
     var script = document.createElement('script');script.src = "p/pl_ps4debug.js";document.getElementsByTagName('head')[0].appendChild(script);
     var script = document.createElement('script');script.src = "p/exp_loader.js";document.getElementsByTagName('head')[0].appendChild(script);
     }
     if(key==21){//load webrtw
      msgs.innerHTML="<div>Loading Webrte ...</div>";
      LoadedMSG="<div>Webrte Loaded ✔</div>";
      var script = document.createElement('script');script.src = "p/pl_webrte.js";document.getElementsByTagName('head')[0].appendChild(script);
      var script = document.createElement('script');script.src = "p/exp_loader.js";document.getElementsByTagName('head')[0].appendChild(script);
     }
     if(key==22){//load fakeusb
      msgs.innerHTML="<div>Loading FakeUSB ...</div>";
      LoadedMSG="<div>FakeUSB Loaded ✔</div>";
      var script = document.createElement('script');script.src = "p/pl_fakeusb.js";document.getElementsByTagName('head')[0].appendChild(script);
      var script = document.createElement('script');script.src = "p/exp_loader.js";document.getElementsByTagName('head')[0].appendChild(script);
     }
     if(key==23){//load EAP Key Dumper
      msgs.innerHTML="<div>Loading EAP Key Dumper ...</div>";
      LoadedMSG="<div>EAP Key Dumper Loaded ✔</div>";
      var script = document.createElement('script');script.src = "p/pl.PS4-EAP-KEY-DUMPER.js";document.getElementsByTagName('head')[0].appendChild(script);
      var script = document.createElement('script');script.src = "p/exp_loader.js";document.getElementsByTagName('head')[0].appendChild(script);
     }
     if(key==24){//load fan control
      msgs.innerHTML="<div>Loading Fan Control ...</div>";
      setTimeout(function(){
       msgs.style.display="none";
       temp.style.display="inline";
      },1000);
     }
     if(key==25){//load linux
      msgs.innerHTML="<div>Loading Linux ...</div>";
      LoadedMSG="<div>Linux Loaded ✔</div>";
      var script = document.createElement('script');script.src = "p/pl_linux.js";document.getElementsByTagName('head')[0].appendChild(script);
      var script = document.createElement('script');script.src = "p/exp_loader.js";document.getElementsByTagName('head')[0].appendChild(script);
     }
	 if(key==25){//load Linux Baikal
      msgs.innerHTML="<div>Loading Linux Baikal ...</div>";
      LoadedMSG="<div>Linux Baikal Loaded ✔</div>";
      var script = document.createElement('script');script.src = "p/linuxbaikal.js";document.getElementsByTagName('head')[0].appendChild(script);
      var script = document.createElement('script');script.src = "p/exp_loader.js";document.getElementsByTagName('head')[0].appendChild(script);
     }
	 if(key==27){//load Linux HDD
      msgs.innerHTML="<div>Loading Linux HDD ...</div>";
      LoadedMSG="<div>Linux Loaded ✔</div>";
      var script = document.createElement('script');script.src = "p/linuxhdd.js";document.getElementsByTagName('head')[0].appendChild(script);
      var script = document.createElement('script');script.src = "p/exp_loader.js";document.getElementsByTagName('head')[0].appendChild(script);
     }
	 if(key==28){//load RifRenamer
      msgs.innerHTML="<div>Loading RifRenamer ...</div>";
      LoadedMSG="<div>RifRenamer Loaded ✔</div>";
      var script = document.createElement('script');script.src = "p/rifrenamer.js";document.getElementsByTagName('head')[0].appendChild(script);
      var script = document.createElement('script');script.src = "p/exp_loader.js";document.getElementsByTagName('head')[0].appendChild(script);
     } 
     if(key==29){//load GTAV
      msgs.innerHTML="<div>Loading GTAV ArabicGuy 1.00 ...</div>";
      LoadedMSG="<div>GTAV ArabicGuy 1.00 Loaded ✔</div>";
      var script = document.createElement('script');script.src = "p/gtava100.js";document.getElementsByTagName('head')[0].appendChild(script);
      var script = document.createElement('script');script.src = "p/exp_loader.js";document.getElementsByTagName('head')[0].appendChild(script);
     } 
     if(key==30){//load GTAV
      msgs.innerHTML="<div>Loading GTAV ArabicGuy 1.27 ...</div>";
      LoadedMSG="<div>GTAV Menu Base 1.27 Loaded ✔</div>";
      var script = document.createElement('script');script.src = "p/gtava127.js";document.getElementsByTagName('head')[0].appendChild(script);
      var script = document.createElement('script');script.src = "p/exp_loader.js";document.getElementsByTagName('head')[0].appendChild(script);
     } 
    if(key==31){//load GTAV
      msgs.innerHTML="<div>Loading GTAV ArabicGuy 1.32 ...</div>";
      LoadedMSG="<div>GTAV Menu Base 1.32 Loaded ✔</div>";
      var script = document.createElement('script');script.src = "p/gtava132.js";document.getElementsByTagName('head')[0].appendChild(script);
      var script = document.createElement('script');script.src = "p/exp_loader.js";document.getElementsByTagName('head')[0].appendChild(script);
     } 
    },
    showMain:function(){
     this.isPayloadShow = true
     this.isThemesShow = false
     this.isAboutUsShow = false
     this.isLoaderShow = true
	 this.isDonationShow = false
    },
    showTheme:function(){
     this.isLoaderShow = false
     this.isAboutUsShow = false
     this.isThemesShow = true
     this.isPayloadShow = false
	 this.isDonationShow = false
    },
    showAboutUs:function(){
     this.isPayloadShow=false
     this.isAboutUsShow = true
     this.isLoaderShow = false
     this.isThemesShow = false
	 this.isDonationShow = false
    },
    showDonation:function(){
     this.isPayloadShow=false
     this.isAboutUsShow = false
     this.isLoaderShow = false
     this.isThemesShow = false
	 this.isDonationShow = true
    },
    changeTheme:function(key){
     this.themes[this.selectedTheme].selected=false
     localStorage.setItem("theme",(key))
     this.selectedTheme=localStorage.getItem("theme")
     this.themes[this.selectedTheme].selected=true
     if(this.themes[this.selectedTheme].animated){
      this.isAnimate1Show=true
     }else{
      this.isAnimate1Show=false
      document.getElementById("body").style.background="url(img/"+this.themes[localStorage.getItem("theme")].url+")";
      document.getElementById("body").style.backgroundRepeat="no-repeat";
      document.getElementById("body").style.backgroundSize="115%";
     }
    },
    changeLang:function(lang){
     localStorage.setItem("lang",lang)
     this.lang=localStorage.getItem("lang")
    },
    changeText:function(tfa,teng,tesp){
     if(this.lang=="fa"){
      return tfa;
     }
     if(this.lang=="eng"){
      return teng;
     }
     if(this.lang=="esp"){
      return tesp;
     }
     return "error to change lang";
    },
    hover:function(key){
     if(key !== undefined){
      this.isDetailShow = true
      if(this.lang=="fa"){
       document.getElementById("detail").innerHTML=this.payloads[key].fa_detail
      }
      if(this.lang=="eng"){
       document.getElementById("detail").innerHTML=this.payloads[key].eng_detail
      }
      if(this.lang=="esp"){
       document.getElementById("detail").innerHTML=this.payloads[key].esp_detail
      }
     }else{
      this.isDetailShow = false
     }
    },
    setTemp:function(){
     msgs.style.display="inline"
     temp.style.display="none"
     LoadedMSG="Fan Control ("+tempC.value+"&#176;C)Loaded ✔";fanTemp=tempC.value;
     var script = document.createElement('script');script.src = "p/pl_fanthresh.js";document.getElementsByTagName('head')[0].appendChild(script);
     var script = document.createElement('script');script.src = "p/exp_loader.js";document.getElementsByTagName('head')[0].appendChild(script);
    },
    retLang:function(){
     return this.lang;
    }
   },
   
   created(){
    this.themes[this.selectedTheme].selected=true
    this.changeTheme(this.selectedTheme)
    fetch('counter.php?from=672_new')
   },
  })

  function showdate() {
  week= new Array("يكشنبه","دوشنبه","سه شنبه","چهارشنبه","پنج شنبه","جمعه","شنبه");
  months = new Array("1","2","3","4","5","6","7","8","9","10","11","12");
  a = new Date();
  d= a.getDay();
  Hour= a.getHours();
  Minute= a.getMinutes();
  Second= a.getSeconds();
  if(Minute<10){
  Minute="0"+Minute;
  }
  if(Second<10){
  Second="0"+Second;
  }
  if(Hour<10){
  Hour="0"+Hour;
  }
  day= a.getDate();
  month = a.getMonth()+1;
  year= a.getYear()-100;
  year = (year== 0)?2000:year;
  (year<1000)? (year += 2000):true;
  year -= ( (month < 3) || ((month == 3) && (day < 21)) )? 622:621;
  switch (month) {
  case 1: (day<21)? (month=10, day+=10):(month=11, day-=20); break;
  case 2: (day<20)? (month=11, day+=11):(month=12, day-=19); break;
  case 3: (day<21)? (month=12, day+=9):(month=1, day-=20);
  break;
  case 4: (day<21)? (month=1, day+=11):(month=2, day-=20);
  break;
  case 5:
  case 6: (day<22)? (month-=3, day+=10):(month-=2, day-=21); break;
  case 7:
  case 8:
  case 9: (day<23)? (month-=3, day+=9):(month-=2, day-=22);
  break;
  case 10:(day<23)? (month=7, day+=8):(month=8, day-=22);
  break;
  case 11:
  case 12:(day<22)? (month-=3, day+=9):(month-=2, day-=21);
  break;
  default:
  break;
  }
  
  function gregorian_to_jalali(gy,gm,gd){
  var g_d_m,jy,jm,jd,gy2,days;
  g_d_m=[0,31,59,90,120,151,181,212,243,273,304,334];
  if(gy > 1600){
  jy=979;
  gy-=1600;
  }else{
  jy=0;
  gy-=621;
  }
  gy2=(gm > 2)?(gy+1):gy;
  days=(365*gy) +(parseInt((gy2+3)/4)) -(parseInt((gy2+99)/100)) +(parseInt((gy2+399)/400)) -80 +gd +g_d_m[gm-1];
  jy+=33*(parseInt(days/12053)); 
  days%=12053;
  jy+=4*(parseInt(days/1461));
  days%=1461;
  if(days > 365){
  jy+=parseInt((days-1)/365);
  days=(days-1)%365;
  }
  jm=(days < 186)?1+parseInt(days/31):7+parseInt((days-186)/30);
  jd=1+((days < 186)?(days%31):((days-186)%30));
  return [jy,jm,jd];
  }
  
  ndt=new Date();
  g_y=ndt.getFullYear();
  g_m=ndt.getMonth()+1;
  g_d=ndt.getDate();
  shamsi=gregorian_to_jalali(g_y,g_m,g_d);
  var nday = shamsi[2];
   mDay=a.getDate();
   mMonth=a.getMonth()+1;
   mYear=a.getFullYear();
   if(mDay<10){
    mDay="0"+mDay;
   }
   if(mMonth<10){
    mMonth="0"+mMonth;
   }
   document.getElementById("date").innerHTML=(mYear+"/"+mMonth+"/"+mDay);
   document.getElementById("clock").innerHTML=(Hour+":"+Minute);
   msgs.style.marginLeft="80px"


  }
  
  setInterval(showdate,0);
 </script>
</body>
</html>